body {
    margin: 0;
    padding: 0;
    background: #FFFAE5;
}

.navbar {
    /* width: 1440px; */
    width: auto;
    height: 80px;
    background: #5F5D2D;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}


.logo-text {
    width: 195px;
    height: 28px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFAE5;
   
    margin-left: 72px;
}

.logo-link{
    text-decoration: none;
    color: inherit;
}

.drawer-icon{
    margin-right: 72px;
}

.drawer-icon button{
    background: none;
    border: none;
    cursor: pointer;
}

.drawer-container {
    position: absolute;
    right: 0;
    top: 50px;
    width: 188px;
    height: 453px;
    border-radius: 30px 0 0 30px;
    background-color: #5F5D2D;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
}

.drawer-container.active {
    transform: translateY(0);
}

.drawer-list {
    list-style-type: none;
    padding: 10px;
}

.drawer-list li {
    font-size: 20px;
    color: #FFFAE5;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
}

.drawer-list li:hover {
    background-color: #555;
}

.back-icon button{
    background: none;
    border: none;
    cursor: pointer; 
    display: flex;
    align-items: center; 
    
}

.back-icon{
    margin-left:80px;
    margin-top: 10px;
    margin-right: 10px;
}

.back-icon button img{
    width: 32px;
    height: 32px;
    margin-right: 8px;
}


h1{
    letter-spacing: 0em;
    font-size: 36px;
    line-height: 54px;
    color: #5F5D2D;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    flex-grow: 1;
    margin-bottom: 0cm;
    
}

h2{
    letter-spacing: 0em;
    font-size: 23px;
    line-height: 54px;
    color: #5F5D2D;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    margin: auto;
    text-align: center;
    flex-grow: 1;
    
}

h3{
    letter-spacing: 0em;
    font-size: 23px;
    line-height: 54px;
    color: #5F5D2D;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    margin: auto;
    text-align: center;
    flex-grow: 1;
    
}

.container, .container2 {
  width: 100%;
}

.slider-wrapper, .slider-wrapper2 {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.slide-button, .slide-button2 {
  position: absolute;
  top: 50%;
  outline: none;
  border: none;
  height: 60px; /* Ubah tinggi button */
  width: 60px; /* Ubah lebar button */
  z-index: 5;
  color: #fff;
  display: flex;
  cursor: pointer;
  font-size: 2.2rem;
  background: #FFA101;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translateY(7cm);
}

.slide-button#prev-slide, .slide-button2#prev-slide {
  left: 20.7cm;
  display: none;
}

.slide-button#next-slide, .slide-button2#next-slide {
  right: 20.7cm;
}

.image-list, .image-list2 {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 18px;
  font-size: 0;
  list-style: none;
  margin-bottom: 4cm;
  overflow-x: auto;
  scrollbar-width: none;
}

.image-list::-webkit-scrollbar, .image-list2::-webkit-scrollbar {
  display: none;
}

.image-item-container, .image-item-container2 {
  position: relative;
}

.image-button, .image-button2 {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  background-color: orange;
  color: white;
  border: none;
  padding: 25px 160px; /* Ubah tinggi dan lebar button */
  border-radius: 20px; /* Sesuai spesifikasi rounded pojok */
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image-item, .image-item2 {
  width: 525px;
  height: 625px;
  object-fit: cover;
}

.otwclosing{
    margin:0;
    text-align: center;
    flex-grow: 1;
    font-family: 'Ubuntu', sans-serif;
    weight: 700px;
    font-size: 24px;
    color: #FFA101;
    margin-top: 125px;
    padding: 12px 24px 12px 24px;
}


hr.footer-line{
    border: 1px solid #C6C6C6;
    margin-top: 30px;
}

footer {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    padding: 20px 72px 0px 72px;
}

.footer-kanan, .footer-tengah {
    flex:1;
}

.footer-text{
    font-family: 'Poppins', sans-serif;
    weight:600px;
    font-size: 20px;
    color: #5F5D2D;
    margin-bottom: 4px;
}

.footer-list{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    weight: 500px;
    color: #C9C8AE;
    margin-bottom: 4px;
    text-decoration: none;
}

.footer-list:hover{
    text-decoration: underline;
}

.gambar-footer {
    text-align: center;
    margin-top: 37px;
    margin-botton: 37px;
}

.gambar-footer img {
    display: block;
    margin: auto;
}

.map{
    padding: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map:img{
    width: 858px;
    height: 342.87;
}

.before-login {
    margin:auto;
    display: flex;
    justify-content: center;
  }
  

  .searchrecipebutton {
    width: 300px;
    height: 40px;
    background-color: #FFA101;
    color: #FFFAE5;
    border-radius: 20px;
    border: #fffffc;
    cursor: pointer;
    display: flex; /* Menggunakan flexbox */
    align-items: center; /* Mengatur pemosisian vertikal ke tengah */
    justify-content: center; /* Mengatur pemosisian horizontal ke tengah */
    margin: 0 10px 0 0;
    padding: 0; /* Menghapus padding */
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

  .searchrestaurantbutton {
    width: 300px;
    height: 40px;
    background-color: #FFA101;
    color: #FFFAE5;
    border-radius: 20px;
    border: #fffffc;
    cursor: pointer;
    display: flex; /* Menggunakan flexbox */
    align-items: center; /* Mengatur pemosisian vertikal ke tengah */
    justify-content: center; /* Mengatur pemosisian horizontal ke tengah */
    margin: 0 10px 0 0;
    padding: 0; /* Menghapus padding */
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}



  
  
 

















